<header>
    <nav class="navbar sticky-top">
      <div class="headerContainer row">
        <div class="">
          <a href="#" class="navbar-brand">Postcode Search</a>
        </div>
        <form class="searchForm navbar-item" name="form" [formGroup]="searchForm" (ngSubmit) = "onSubmit()">
          <div class="input-group mb-3 mt-10">
            <input type="search" id="postcode" class="form-control" aria-label="Search" maxlength="4" 
            placeholder="Enter Postcode here.." formControlName = "postcode" name="postcode" >
            <div class="input-group-append searchButton">
              <button type="submit" name="search" class="searchButton">Search
              </button>
            </div>
          </div>
          <p class="errText" *ngIf="!searchForm.valid && !searchForm.pristine && formSubmitted && postcode.value">Invalid Postcode</p>
          <p class="exText">Ex: 509, 5093</p> 
        </form> 
    </div>
    </nav>
</header>
    
    
    
    