@import '../../../css/colorPallette';

a.list-group-item.active{
    text-decoration: none;
    background-color: @cardColor;
    color: black;
    padding:0.5rem;
}

a[mode='suburbsByPostcode']:hover{
    background-color: @cardHoverColor;
}

.card-header{
    width:100%;
    border:none;
}

a{
    padding:0.5rem;
}

