@import '../../../css/colorPallette';

a[mode='suburbsByPostcode'].list-group-item.active, a[mode='suburbsByPostcode'].list-group-item:focus{
    color: black;
    padding:0.5rem;
    border-color: #4db8ff;
    background-color: #4db8ff;
    
}

a[mode='suburbsByPostcode']:hover{
    background-color: @cardHoverColor;
    text-decoration: none;
}

.card-header{
    width:100%;
    border:none;
}

a{
    padding:0.5rem;
    color: black;
    text-decoration: none;
}

